@model DataApi.Core.Model.StudentData

<div>
    <Label>StudentId:</Label>
    @Html.DisplayFor(model=>model.StudentId)
</div>

<div>
    <Label>Name:</Label>
    @Html.DisplayFor(model=>model.Name)
</div>
<div>
    <Label>Email:</Label>
    @Html.DisplayFor(model=>model.Email)
</div>
<div>
    <Label>Address:</Label>
    @Html.DisplayFor(model=>model.Address)
</div>
<div>
    <Label>PhoneNum:</Label>
    @Html.DisplayFor(model=>model.PhoneNum)
</div>
<div>
    <Label>Location:</Label>
    @Html.DisplayFor(model=>model.Location)
</div>
<div>
    <Label>Password:</Label>
    @Html.DisplayFor(model=>model.Password)
</div>
<div>
    <Label>ReTypePassword:</Label>
    @Html.DisplayFor(model=>model.ReTypePassword)
</div>








